* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #2e2e2e;
    background-image: url("../img/bgimage1.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* This is the style for the navbar of the page. */
header {
    padding: 10px 0 0 0;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: -80px;
        width: 100%;
        transition: top 0.5s;
        background-color: #333;
        padding: 0 50px;
      }

    .navbar.scrolled {
        top: 0;
    }
      
      .logo img {
        width: 50px;
        height: auto;
        border-radius: 50%;
      }

      .logo img:hover {
        transform: scale(1.2);
        transition: .3s ease;
      }
  
      .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      
      .nav-links li {
        margin-right: 100px;
      }
      
      .nav-links li:last-child {
        margin-right: 0;
      }
      
      .nav-links a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        opacity: 0.7;
      }
      
      .nav-links li a:hover {
        color: rgb(0, 255, 255);
        font-size: 30px;
        transition: .3s ease;
        text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.438);
        opacity: 1;
      }
}

header:hover {
    transition: 0.5s ease-out;
}

/* This is the stylesheet for the home page. */
.home {
    display: flex;
    margin-top: 80px;
    padding: 96px 48px 0 150px; 
    
    .home-left {
        margin-right: 200px;
        height: 200px;
        width: 300px;
    }
    .home-heading {
        padding-top: 160px;
    }

    .home-img img{
        height: 480px;
        width: 800px;
        background-size: cover;
        border-radius: 4px;
    }

    .slideshow-container {
        position: relative;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .slides {
        display: flex;
        height: 100%; 
        width: 300%; 
        transition: transform 0.3s ease-in-out; 
    }

    .slides img,
    .slides video {
        width: 33.33%; 
        height: 100%; 
        object-fit: cover; 
    }

    video::-webkit-media-controls {
        display: none;
    }

    .home-img:hover{
        transform: scale(1.1);
        transition: 0.3s ease-in;
        box-shadow: 4px 4px 4px rgba(0, 0 , 0, 0.436);
    }
}

/* This style is for the service section. */
.service {
    margin: 200px 0;
    padding: 50px;
    text-align: center;
    background-color: #4264bc;  
    text-align: justify;  

    .service-title, .service-paragraph {
        text-align: center;
    }

    .service-course {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        
        .service-first {
            width: 300px;
            height: 300px;
            border-radius: 8px;
            background-color: white;
        }

        .service-first:hover{
            transform: scale(1.2);
            transition: 0.3s ease-in;
            box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.468);
        }

        .service-img img{
            width: 100%;
            height: 60%;
            background-size: cover;
            border-radius: 4px;
            margin-bottom: 10px;
        }     
    }

    .service-main {
        display: flex;
        margin: 300px 0 50px 0;
        height: 500px;
        width: 100%;
        padding: 20px;

        .service-main-img img{
            width: 80%;
            height: 550px;
            width: 550px;
            background-size: cover;
            border-radius: 8px;
            box-shadow: 6px 6px 6px 6px rgba(128, 128, 128, 0.314);
        }

        .service-main-title {
            margin: 80px 0 0 40px;
            text-align: left;
            height: 300px;
            width: 400px;
            margin-left: 200px;

            .service-main-heading {
                margin-bottom: 20px;
            }

            .service-main-paragraph {
                margin: 10px 0;
            }

            .service-main-link-botton {
                width: 200px;
                height: 50px;
                font-size: 20px;
                border-radius: 20px;
                border: none;
                background-color: blue;
                margin-top: 10px;
            }

            .service-main-link-botton:hover {
                background-color: green;
                transition: 0.5s ease-in;
                transform: scale(1.3);
            }

        }
    }
}

/* This style is for the services page. */
.services {
    height: 1200px;
    width: 100%;
    background-color: #4f77c4;
    text-align: center;
    padding: 50px 80px;

    .services-main {
        margin-bottom: 150px;
    }

    .services-upper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;

        .services-upper-common {
            height: 350px;
            width: 350px;

            .services-upper-img img{
                width: 90%;
                height: 70%;
                background-size: cover;
                margin-left: 10px;
                border-radius: 9px;
            }

            .services-upper-title {
                text-align: left;
                padding: 10px 0 0 20px;
            }
        }

        .services-upper-common:hover {
            transform: scale(1.2);
            transition: 0.3s ease-in;
        }
    }
    .services-btn {
        width: 200px;
        height: 50px;
        /* margin: 0 auto; */
        margin-top: 150px;
        border-radius: 15px;
        border: none;
    }

    .services-btn:hover {
        background-color: green;
        transition: 0.5s ease-in;
        transform: scale(1.3);
        font-size: 20px;
    }
}

/* This style is for the product page where we show what type of product we sell.  */
.product {
    display: flex;
    padding: 48px 48px 0 150px; 
    background-color: #2e2e2e;
    cursor: pointer;
    color: white;
    
    .product-left {
        padding: 100px 140px 0 0;
    }
    .product-heading {
        padding-top: 100px;
        margin-bottom: 40px;
    }

    .product-img img{
        height: 800px;
        width: 800px;
        background-size: cover;
        border-radius: 4px;
        padding-top: 100px;
    }

    .product-table {
        height: 50px;
        width: 300px;
        border: 1px solid #fff;
        padding: 5px;
    }

    .product-table-td {
        width: 300px;;
        height: 200px;
        padding: 8px;
    }

    .product-titles {
        height: 50px;
        width: 300px;
        padding: 5px;
        margin-top: 50px;
    }
}

/* This style is for the members page.  */
.member {
    padding: 100px 60px 50px 60px;
    text-align: center;
    background-color: #5b8acd;

    .member-heading {
        margin-bottom: 50px;
    }

    .member-post img{
        height: 400px;
        width: 500px;
        background-size: cover;
        margin: 0 auto;
    }
}

/* This style is for the more members of page.  */
.members {
    padding: 50px 120px 50px 120px;
    height: 900px;
    width: 100%;
    background-image: url("../img/bgimage3.jpg");
    background-size: cover;
    text-align: center;

    .members-same {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .members-upper{
        margin-bottom: 50px;    
    }
    
    .members-upper-same img{
        height: 400px;
        width: 500px;
        background-size: cover;
        border-radius: 4px;
    }

    .members-lower-same img{
        height: 250px;
        width: 250px;
        background-image: cover;
        border-radius: 2px;
    }
}

/* This style is for the review page of the website. */
.review {
    text-align: center;
    height: 900px;
    width: 100%;
    padding: 40px 100px 30px 100px;
    background-color: #4264bc;

    .review-heading {
        margin-bottom: 80px;
    }

    .review-posts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .review-post img{
            width: 400px;
            height: 400px;
            border-radius: 10px;
        }

        .reivew-post-written {
            width: 350px;
            height: 350px;
            text-align: justify;
            position: relative;
            left: 60px;
            bottom: 150px;
            z-index: -0.5;
            background-image: url("../img/bgimage4.jpg");
            background-size: cover;
            opacity: 1;
            color: white;
            padding: 10px;
            border-radius: 20px;

            .review-post-heading{
                margin-bottom: 20px;
            }

            .date{
                margin-bottom: 20px;
            }
        }

        .review-post img:hover{
            transform: scale(1.1);
            transition: .3s ease;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.468);
        }

        .reivew-post-written:hover {
            background-image: none;    
            transition: .3s ease;        
        }
    }

}    

/* This is the footer of the web page. */
.footer {
    height: 400px;
    width: 100%;
    margin: 40px 0 30px 0;
    padding: 30px 50px 80px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bgimage3.jpg");
    background-size: cover;
    cursor: pointer;
}

.footer > div {
    width: 20%;
}

.footer-logo {
    padding-left: 10px;
}

.footer-logo img {
    width: 40px;
    height: 40px;
}

.footer-logo p {
    margin-top: 15px;
}

.foooter .footer-link ul li {
    list-style-type: none;
}

.footer input {
    width: 300px;
    height: 30px;
    padding-left: 8px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    margin-bottom: 4px;
}

.footer button {
    width: 80px;
    height: 20px;
    border-radius: 4px;
    border: none;
}

.footer button:hover {
    background-color: #4264bc;
    transition: 0.3s ease-in;
    transform: scale(1.3);
}
